@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header {
    width: 100%;
    height: 60px;
    background-color: Crimson;
    line-height: 70px;
}

h1 {
    width: fit-content;
    margin: auto;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

.baner {
    width: 100%;
    height: 500px;
    vertical-align: top;
}

nav {
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: Crimson;
    line-height: 60px;
}

.h {
    width: 20%;
    height: 60px;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
}

.h:hover {
    background-color: red;
}

main {
    position: relative;
    text-align: center;
    margin: 10px auto;
    height: auto;
    overflow: hidden;
}

#page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: sans-serif;
}

footer {
    bottom: 0;
    clear: both;
    width: 100%;
    height: fit-content;
    background-color: Crimson;
    text-align: center;
    color: white;
}

#footer-text {
    font-size: 20px;
    color: white;
    font-family: Arial sans-serif;
    padding: 5px;
}

article {
    width: 50vw;
    min-height: 350px;
    min-width: 350px;
    max-height: 700px;
    border-radius: 5px;
    background: linear-gradient(to bottom, white, white, #ddd);
    margin: 0 .5em;
}

.article-title {
    width: fit-content;
}

#article-text {
    padding: 5px;
    color: red;
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: bold;

}

.article-text1 {
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    color: RGB(252, 33, 55);
    font-weight: bold;
    font-size: 25px;
}

.article-text2 {
    width: fit-content;
    font-size: 20px;
    padding: 10px;
    color: black;
    font-family: serif;
}

.article-text3 {
    text-align: center;

}

.article-text3 a {
    margin: 20px;
    color: black;
    padding: 2px;
    background: gray;
    text-decoration: none;
    border: 1px gray;
    border-radius: 5px;
}

.text-box img {
    width: 150px;
    height: 150px;
    margin: 0;
}


.recipes {
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.center-boxes {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.pictures img {
    margin: 5px;
}
