html {
    margin:0;
    text-align: center;
    background-color: #353535;
}
#wzium {
    width: 100%;
    height: 10vh;
    line-height: 5vh;
    font-size: 5vh;
    font-family: Comic sans MS;
    color: red;
}

#buttons {
    display: inline-block;
    width: fit-content;
}

.galery-button {
    padding: 1vw;
    color: black;
    background-color: darkgrey;
    border-radius: 5px 0px 5px 0px;
    border: black 0.5px solid;
    width: 5vw;
    height: 5vh;
    margin: 5vh;
    text-decoration: none;
}


.videos3 {
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.videos3 video {
    padding: 1vh;
    margin: 1vw;
    width: 15vw;
    height: 25vh;
    border: red solid 2px;
    border-radius: 5px;
}

.videos3 iframe {
    padding: 1vh;
    margin: 1vw;
    width: 25vw;
    height: 25vh;
    border: red solid 2px;
    border-radius: 5px;
}