#icon {
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: chocolate;
    color: white;
    border: solid 1px black;
    border-radius: 12px;
    top: 0px;
    right: 0px;
}

nav {
    display: none;
    position: absolute;
    width: 30%;
    height: auto;
    right: 0px;
    top: 82px;
    border: solid 1px black;
    border-radius: 12px;
    background-color: #ddd;

}

.links {
    display: block;
    width: 100%;
    height: 30px;
    color: black;
    text-align: center;
    line-height: 30px;

    text-decoration: none;
    font-family: sans-serif;
    transition: 1s;
    border-radius: 12px;

}

.links:hover {
    background-color: black;
    color: white;
}


img {
    width: 80px;
    height: 80px;
}

#navbar2 {
    display: none;
    position: absolute;
    width: 30%;
    height: auto;
    left: 0px;
    top: 85px;
    border: solid 1px black;
    border-radius: 12px;
    background-color: #ddd;
}