* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
:root {
    --background-color: rgb(54, 54, 54);
    --clicked: rgb(130, 130, 130);
    --buttons: #10a37f;
    --button-hover: #0b7a5e;
}
body {
    background-color: var(--background-color);
}

.game {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 20vh;
}

.wrapper-title {
    text-align: center;
    font-size: 1em;
    margin-bottom: 5vh;
}

#round-display {
    border-bottom: var(--buttons) 2px solid;
    padding-bottom: 0.5em;
}

.wrapper-board {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

}
.square {
    display: grid;
    grid-template-columns: 7em 7em 7em;
    grid-template-rows: 7em 7em 7em;
    
}

@media screen and (max-width: 350px){
    .square {
        grid-template-columns: 5em 5em 5em;
        grid-template-rows: 5em 5em 5em;

    }
    .pole {
        font-size: 3rem;
    }
    input {
        width: 15em !important;
    }
}

.pole {
    width: 100%;
    height: 100%;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.pole:nth-child(1) {
    border-right: 2px white solid;
    border-bottom: 2px white solid;
}

.pole:nth-child(2) {
    border-right: 2px white solid;
    border-bottom: 2px white solid;
}

.pole:nth-child(3) {
    border-bottom: 2px white solid;
}

.pole:nth-child(4) {
    border-right: 2px white solid;
    border-bottom: 2px white solid;
}

.pole:nth-child(5) {
    border-right: 2px white solid;
    border-bottom: 2px white solid;
}

.pole:nth-child(6) {
    border-bottom: 2px white solid;
}

.pole:nth-child(7) {
    border-right: 2px white solid;
}

.pole:nth-child(8) {
    border-right: 2px white solid;
}


input {
    width: 21em;
    height: 3em;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    margin-top: 2vh;
    background-color: var(--buttons);
    transition: background-color .25s ease-in-out,box-shadow .25s ease-in-out;
}

input:hover {
    background-color: var(--button-hover);
}

input:active {
    transform: scale(99%);
}